* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    color: #777;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.section-standard {
    height: 100vh;
    width: 100%;
    margin: auto;
}

.single-slider-root {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.single-slider-root > div {
    flex: 0 0 100%;
}

.outer-heading {
    height: 60px;
    line-height: 60px;
}

.inner-slider {    
    max-height: calc(100vh - 160px);
    position: relative;
}

/*
#####
N A V
#####
*/

.outer-nav {        
    height: 100px;
    line-height: 100px;
    width: 100%;
}

.outer-nav .nav {
    display: inline-block;
    height: 60px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 30px;
    padding: 10px 30px;
    line-height: 40px;
}

.outer-nav .nav i {
    margin: 15px;
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.outer-nav .nav i.active {
    color: white;
}

/*
A R R O W S
*/

.prev , .next {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100px;
    z-index: 1;
    text-align: center;
}

.prev {
    left: 0;
    right: auto;
}

.next {
    right: 0;
    left: auto;
}

.prev i , .next i {
    display: none;
}
.prev:hover i , .next:hover i {
    display: inline-block;

    position: absolute;
    top: 50%;    
    transform: translateY(-50%);

    width:60px;
    height:60px;
    line-height: 60px;

    font-size: 40px;
    color: rgba(0,0,0,0.2);
    
    background-color: white;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}
.prev i {
    left: 80px;
}
.next i {
    right: 80px;
}

/*
I M A G E S
*/

.images {
    width: 100%;
    height: 100%;
}

.images img {
    display: none;
}

.images img.active {    
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}